<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}login/signup{% endblock %}</title>
    <style>
    #menu ul{
  list-style: none;
}
#menu li {
    display:inline-block;
    margin-right: 50px; 
}
</style>
  </head>
  <body>
    <header>
      <h1>Book Store</h1>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
      {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
      {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>