{% extends 'base.html' %}

{% block content %}
  <h2>Welcome, {{ user.get_full_name }} !</h2>
  <p>Your email address: {{ user.email }}</p>
  <a href="{% url 'interests' %}">Interests</a>
  <a href="{% url 'upfile' %}">upfile</a>
  <a href="{% url 'search' %}">search</a>
<h2>your uploads</h2>
{% for object in documents %}
    <div>
        <p>genre: {{ object.genre }}</p>
        <p>book: <a href="{{object.document.url}}">{{ object.title }}</a>
        <img src="{{object.image.url}}" alt="" style="width:304px;height:228px;">
    </div>
{% endfor %}
<h2>your interests</h2>
    {{interest.my_field}}
<h2>suggestions</h2>
{% for d in doc %}
    <div>
        <p>title: {{ d.title }}</p>
    </div>
{% endfor %}
{% endblock %}