/* Start of CSS for home page */
 .navbar {
      margin-bottom: none;
      border: none;
      font-size: 12px !important;
      line-height: 1.43 !important;
      letter-spacing: 4px;
      border-radius: none;
      font-family: Montserrat, sans-serif;
  }
 .navbar li a, .navbar .navbar-brand {
      color: #000 !important;
  }
  .navbar-nav li a:hover {
      color: #f4511e !important;
      background-color: rgb(211,211,211) !important;
  }
.dropdown-menu li a:hover {
    background-color: white !important;
}

/* End of CSS for home page */