{% extends 'base.html' %}

{% block content %}
  {% for object in docs %}
    <li>
        <div>
          <p>
          <img src="{{object.image.url}}" alt="" style="width:100px;height:100px;"><br>
          author: <a href="{% url 'author' pk=object.author %}">{{object.author}}</a><br>
          genre: <a href="{% url 'genre' pk=object.genre %}">{{object.genre}}</a><br>
          title: <a href="{% url 'bookpage' pk=object.pk %}">{{ object.title }}</a>
        </p>
          rating: {{object.rate1}}
          no of ratings: {{object.no_ratings}}<br> 
        </div>
    </li>
{% endfor %}

{% endblock %}