{% extends 'base.html' %}
{% block navbar-content %}
<li> <a href="#suggestions"> SUGGESTIONS </a> </li>
{% endblock %}
{% block navbar1-content %}
<li><a href="#owned">Owned Communities</a></li>
{% endblock %}
{% block content %}
<img src="{{user.profile.picture.url}}" alt="" style="width:100px;height:100px;"><br>
<div id="youruploads">
<h2>your uploads</h2>
<div id="menu">
<ul>
{% for object in documents %}
    <li>
        <p>
        <img src="{{object.image.url}}" alt="" style="width:100px;height:100px;"><br>
        author: <a href="{% url 'author' pk=object.author %}">{{object.author}}</a><br>
        genre: <a href="{% url 'genre' pk=object.genre %}">{{object.genre}}</a><br>
        title: <a href="{% url 'bookpage' pk=object.pk %}">{{ object.title }}</a><br>
        delete book : <a href="{% url 'delete' pk=object.pk %}">delete</a><br>
        </p>
    </li>
{% endfor %}
</ul>
</div>
</div>
<div id="yourads">
<h2>your ads</h2>
<div id="menu">
<ul>
{% for object in ads %}
    <div>
        <p>
        <img src="{{object.image.url}}" alt="" style="width:100px;height:100px;"><br>
        author: <a href="{% url 'author' pk=object.author %}">{{object.author}}</a><br>
        genre: <a href="{% url 'genre' pk=object.genre %}">{{object.genre}}</a><br>
        title: <a href="{% url 'adpage' pk=object.pk %}">{{ object.title }}</a>
        delete this book : <a href="{% url 'deletead' pk=object.pk %}">delete ad</a>
        </p>
    </div>
{% endfor %}
</ul>
</div>
</div>
<h2>read requests</h2>
{% for doc,li in rplist %}
  {% for l in li %}
  <a href="{% url 'bookpage' pk=doc.pk %}">{{ doc.title }}</a>
  {{l.username}}<a href="{% url 'acceptread' pk=l.pk pk1=doc.pk %}">accept</a>
  {% endfor %}
{% endfor %}
<h2>All genres</h2>

{% for i in choices %}
    <a href="{% url 'genre' pk=i %}">{{i}}</a><br>
{% endfor %}

<h2>your interests</h2>

{% for i in interest.my_field %}
    <a href="{% url 'genre' pk=i %}">{{i}}</a>
        <br>
{% endfor %}
<div id="suggestions">
<h2>suggestions</h2>
<div id="menu" >
<ul >
{% for object in doc %}
    <li>
          <img src="{{object.image.url}}" alt="" style="width:100px;height:100px;"> <br>
          author: <a href="{% url 'author' pk=object.author %}">{{object.author}}</a><br>
          genre: <a href="{% url 'genre' pk=object.genre %}">{{object.genre}}</a> <br>
          title: <a href="{% url 'bookpage' pk=object.pk %}">{{ object.title }}</a><br>
          uploader: <a href="{% url 'uploader' pk=object.uploader %}">{{object.uploader}}</a><br>
          rating: {{object.rate1}}<br>
          no of ratings: {{object.no_ratings}}<br> 
    </li>
{% endfor %}
</ul>
</div>
</div>
<br>
<a href="{% url 'notes' %}">Notifications</a><br>
<div id="owned">
<h2>owned communities</h2>
{% for c,count in opclist %}
    name: <a href="{% url 'cpage' pk=c.pk %}">{{ c.name }}</a>
    requests: {{count}}
{% endfor %}
</div>
<h2>joined communities</h2>
{% for c in jcom %}
    name: <a href="{% url 'cpage' pk=c.pk %}">{{ c.name }}</a>
    <a href="{% url 'leave' pk=c.pk %}">leave</a><br>
{% endfor %}
<h2>Other communities</h2>
{% for c,l in jpclist %}
    {% if not c in jcom %}
    name: {{ c.name }}
    {% if user in l %}
    <a href="{% url 'crequest' pk=c.pk %}">cancelrequest</a><br>
    {% else %}
    <a href="{% url 'srequest' pk=c.pk %}">join</a><br>
    {% endif %}
    description: {{c.description}}<br>
    {% endif %}
{% endfor %}

{% endblock %}