{% extends 'base.html' %}
<!--<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>-->
{% block content %}
<a href="{% url 'searchad' %}"> SEARCH-AD </a>
  <div class="container">
            <h2>Search Books</h2>
            <div style="width:50%">
                <form method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    {% for error in filter.form.non_field_errors %}
                    <div class="form-group has-errors text-danger small">
                        {{error}}
                    </div>
                    {% endfor %}
                    {% for field in filter.form %}
                    <div class="form-group has-errors text-danger small">
                        {{field.errors}}
                    </div>
                    <div class="form-group has-errors text-danger small">
                    </div>
                    <div class="form-group">
                      {{ field.label_tag }}<br>
                        {{field}}
                    </div>
                    {% endfor %}
                    <button class="btn btn-primary" type="submit" style="width:30%">Search</button>
            </div>
            </form>
        </div>
}
}
<br> <br>
{% if le == 0 %}
    not yet searched
{% elif filter.qs.count == 0 %}
	no searches found
{% else %}
    <div id="menu">
    <ul>
  	{% for doc in filter.qs %}
    {% if doc.searchshow %}
    	<li>
  			<div>
        	<p>
        	<img src="{{doc.image.url}}" alt="" style="width:100px;height:100px;"><br>
        	author: <a href="{% url 'author' pk=doc.author %}">{{doc.author}}</a><br>
          genre: <a href="{% url 'genre' pk=doc.genre %}">{{doc.genre}}</a><br>
          title: <a href="{% url 'bookpage' pk=doc.pk %}">{{doc.title }}</a><br>
          uploader: <a href="{% url 'uploader' pk=doc.uploader %}">{{doc.uploader}}</a>
        </p>
        	<a href="{{doc.document.url}}">read</a><br>
        	rating: {{doc.rating}}<br> 
        	no of ratings: {{doc.no_ratings}}
  			</div>
    	</li>
    {% endif %}
  	{% endfor %}
  	</ul>
  </div>
{% endif %}
{% endblock %}